.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sign-out-button {
  white-space: nowrap;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}